.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.modalContent {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    width: 700px;
    max-width: 100%;
    height: 800px;
    max-height: 100%;
    z-index: 9;
    text-align: center;
    position: fixed;
    top: 50px;
    overflow-y: scroll;
    font-family: 'Roboto Condensed', sans-serif;
}
.modalContent::-webkit-scrollbar {
    width: 10px;

}
.modalContent::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #d9d9d9;
}
.modalContent::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
}
.close {
    text-align: right;
    color: #ff5757;
    position: sticky;
    top: 0;
}
.close .esq:hover {
    cursor: pointer;
}
.title {
    margin-top: 40px;
}
.ingredients {
    color: grey;
    font-size: 23px;
    width: 50%;
    margin: auto;
    margin-top: 40px;
}
.recipe {
    font-size: 23px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 30px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    padding: 30px 40px;
    border-radius: 10px;
}
.video  {
    width: 500px;
    height: 250px;
}
.update {
    margin-top: 20px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #5667ff;
    color: white;
    cursor: pointer;
}
.update:active {
    outline: 1px solid darkblue;
}